<%= form_with(model: interpreter_language, local: true) do |form| %>
  <% if interpreter_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interpreter_language.errors.count, "error") %> prohibited this interpreter_language from being saved:</h2>

      <ul>
        <% interpreter_language.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field"> 
    <%= form.hidden_field :interpreter_id, value: @interpreter.id, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :dialect_id %>
     <%= form.select :dialect_id, Dialect.order(dialect_name: :asc).all.map{|d| [d.dialect_name, d.id]}, :prompt => "Select One" %>
  </div>

  <div class="actions">
    <%= form.submit "Add", class: 'btn btn-primary' %>
  </div>
<% end %>
