<%= form_with(model: interpreter_language, local: true) do |form| %>
  <% if interpreter_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interpreter_language.errors.count, "error") %> prohibited this interpreter_language from being saved:</h2>

      <ul>
        <% interpreter_language.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interpreter_id %>
    <%= form.text_field :interpreter_id %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
