<p id="notice"><%= notice %></p>

<h1>Interpreter Languages</h1>

<table>
  <thead>
    <tr>
      <th>Interpreter</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interpreter_languages.each do |interpreter_language| %>
      <tr>
        <td><%= interpreter_language.interpreter_id %></td>
        <td><%= interpreter_language.language_id %></td>
        <td><%= link_to 'Show', interpreter_language %></td>
        <td><%= link_to 'Edit', edit_interpreter_language_path(interpreter_language) %></td>
        <td><%= link_to 'Destroy', interpreter_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interpreter Language', new_interpreter_language_path %>
