<p id="notice"><%= notice %></p>

<h1>Dialects</h1>

<table>
  <thead>
    <tr>
      <th>Dialect name</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dialects.each do |dialect| %>
      <tr>
        <td><%= dialect.dialect_name %></td>
        <td><%= dialect.language_id %></td>
        <td><%= link_to 'Show', dialect %></td>
        <td><%= link_to 'Edit', edit_dialect_path(dialect) %></td>
        <td><%= link_to 'Destroy', dialect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dialect', new_dialect_path %>
