<p id="notice"><%= notice %></p>

<p>
  <strong>Dialect name:</strong>
  <%= @dialect.dialect_name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @dialect.language_id %>
</p>
<%= link_to 'New Dialect', new_dialect_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_dialect_path(@dialect) %> |
<%= link_to 'Back', dialects_path %>
