<%= form_with(model: job_booking, local: true) do |form| %>
  <% if job_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_booking.errors.count, "error") %> prohibited this job_booking from being saved:</h2>

      <ul>
        <% job_booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% num_interpreter_booked = @job_booking.booked_interpreters.count %>
  <div class="field">
    <%= form.label :appointment_time %><br>
    <% if num_interpreter_booked == 0 %>
      <%= form.datetime_select :appointment_time %>
    <% else %>
      <%= form.datetime_select :appointment_time, disabled: true%>
    <% end %> 
  </div>

  <div class="field">
    <%= form.label :dialect_id, "Language" %><br>
    <% if num_interpreter_booked == 0 %>
      <%= form.select :dialect_id, Dialect.order(dialect_name: :asc).all.map{|d| [d.dialect_name + " - " + d.language.language_name, d.id]}, :prompt => "Select Language", class: "form-control"  %>
    <% else %>
      <%= form.text_field :dialect_id, value: @job_booking.dialect.dialect_name, disabled: true, class: "form-control" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :number_of_interpreter %>
    <% if num_interpreter_booked == 0 %>
    <%= form.number_field :number_of_interpreter, value: 1, min: 1, max: 20, class: "form-control"  %>
    <% else %>
     <%= form.number_field :number_of_interpreter, value: 1, min: 1, max: 20, class: "form-control", disabled: true  %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location_id %> 
    <% if num_interpreter_booked == 0 %>
    <%= link_to 'New Location', new_location_path %><br>
    <%= form.select :location_id, Location.where(client_id: current_client.id).map{|l| [l.building_info + ", " + l.street_address + ", " + l.suburb + ", " + l.state + ", " + l.postcode, l.id]}, :prompt => "Select Address", class: "form-control"  %>
    <% else %>
    <%= form.text_field :location_id, value: @job_booking.location.building_info + ", " + @job_booking.location.street_address + ", " + @job_booking.location.suburb + ", " + @job_booking.location.state + ", " + @job_booking.location.postcode, disabled: true, class: "form-control" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :booking_length, "Booking Length (minutes)" %><br>
    <% if num_interpreter_booked == 0 %>
    <%= form.number_field :booking_length, value: 90, min:90, class: "form-control" %>
    <% else %>
    <%= form.number_field :booking_length, value: 90, min:90, class: "form-control", disabled: true %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :booking_title %>
    <%= form.text_field :booking_title, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :booking_description %>
    <%= form.text_area :booking_description, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :further_instruction %>
    <%= form.text_area :further_instruction, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :contact_person %>
    <%= form.text_field :contact_person, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :contact_no %>
    <%= form.text_field :contact_no, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :job_status %>
    <%= form.select :job_status, JobBooking.job_statuses.keys, {}, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, disabled: true, class: "form-control"   %>
  </div>

  <div class="field">
    <%= form.label :payment_status %>
    <%= form.select :payment_status, JobBooking.payment_statuses.keys, {}, disabled: true %>
  </div>

  <% if @job_booking.job_status == JobBooking.job_statuses[:COMPLETED] %>
     <div class="field">
    <%= form.label :payment_reference %>
    <%= form.text_field :payment_reference, class: "form-control"  %>
  </div>
  <% else %>
  <div class="field">
    <%= form.label :payment_reference %>
    <%= form.text_field :payment_reference, disabled: true, class: "form-control"  %>
  </div>
  <% end %>

  <%= form.hidden_field :client_id, value: current_client.id, disabled: true, class: "form-control"  %>
  

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
