
<div class="container jumbotron">
<h1>Available Jobs</h1>

<table class="table-striped table-hover" width="100%">
  <thead>
    <tr>
      <th >Appointment time</th>
      <th width="100px">Booking length</th>
      <th align="center">Booking title</th>
      <th>Language</th>
      <th width="100px">Number of interpreter</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_bookings.each do |job_booking| %>
      <tr>
        <td><%= job_booking.appointment_time.to_formatted_s(:short)  %></td>
        <td align="center"><%= job_booking.booking_length %></td>
        <td><%= job_booking.booking_title %></td>
        <td><%= job_booking.dialect.dialect_name %></td>
        <td align="center"><%= job_booking.number_of_interpreter %></td>
        <td><%= job_booking.job_status %></td>
        <% if job_booking.available_interpreters.pluck(:interpreter_id).include?(current_interpreter.id)%>
        <td>waiting confirmation</td>
        <% else %>
        <td><%= link_to 'Available', addme_available_interpreter_path(:interpreter_id => current_interpreter.id, :job_booking_id => job_booking.id), :method => :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>