
<div class="container jumbotron">
    <table class="table-striped table-hover" width="100%">
        <tr>
            <th>Interpreter Detail</th>
            <td></td>
        </tr>
        <tr>
            <td rowspan="5">
            <% if @interpreter.avatar.attached? %>
              <%= image_tag @interpreter.avatar, class: "avatar"  %>
            <% end %>
            </td>
            <td>Name: <strong><%= @interpreter.first_name + " " + @interpreter.last_name %></strong>
            </td>
        </tr>
        <tr>
            <td>Rating: <strong><%= @interpreter.rating_score %></strong></td>
        </tr>
        <tr>
            <td>Sex: <strong><%= @interpreter.sex %></strong></td>
        </tr>
        <tr>
            <td>Fees: <strong><%= number_to_currency(@interpreter.payment_rate) %></strong> per 90 minutes</td>
        </tr>
        <tr>
            <td>
            <% if !@job_booking.booked_interpreters.pluck(:interpreter_id).include?(@interpreter.id) %>
            <%= link_to "Book this interpreter", book_an_interpreter_path(:interpreter_id => @interpreter.id, :job_booking_id => @job_booking.id), method: :post, data: { confirm: "Confirm booking, #{@interpreter.first_name} #{@interpreter.last_name}?" }, class: 'btn btn-primary' %> | 
            <% end %>
            <%= link_to "Back", @job_booking, class: 'btn btn-primary' %>
            </td>
        </tr>
    </table>
</div>