<p id="notice"><%= notice %></p>
<div class="container jumbotron">
<h1>Current Bookings</h1>

<table class="table-striped table-hover" width="100%">
  <thead>
    <tr>
      <th >Appointment time</th>
      <th width="100px">Booking length</th>
      <th align="center">Booking title</th>
      <th>Language</th>
      <th width="100px">Number of interpreter</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_bookings.each do |job_booking| %>
      <tr>
        <td><%= job_booking.appointment_time.to_formatted_s(:short)  %></td>
        <td align="center"><%= job_booking.booking_length %></td>
        <td><%= job_booking.booking_title %></td>
        <td><%= job_booking.dialect.dialect_name %></td>
        <td align="center"><%= job_booking.number_of_interpreter %></td>
        <td><%= job_booking.job_status %></td>
        <td><%= link_to 'Show', job_booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>