<p id="notice"><%= notice %></p>
<div class="container jumbotron">
<h1>Booked Interpreters</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Job Title</th>
      <th>Location</th>
      <th>Client</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @booked_interpreters.each do |booked_interpreter| %>
      <% if ["COMPLETED", "CANCELED"].include?(booked_interpreter.job_booking.job_status) %>
        <tr>
        <td><%= booked_interpreter.job_booking.appointment_time.to_formatted_s(:short)  %></td>
        <td><%= booked_interpreter.job_booking.booking_title %></td>
        <td><%= booked_interpreter.job_booking.address.suburb %></td>
        <td><%= booked_interpreter.job_booking.client.organisation_name %></td>
        <td><%= link_to 'Show', booked_interpreter %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
</div>
